<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logo" href="/">SolSea</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to root_path do %>
        <p class="nav-link navtem">Home</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to pages_bio_path do %>
        <p class="nav-link navtem">Solsea</p>
        <%end%>
      </li>
      <li class="nav-item">
        <%= link_to pages_contact_path do %>
        <p class="nav-link navtem">Contact</p>
        <% end %>
      </li>
    </ul>
    <span class="navbar-text">
      <div class="social-media">
        <ul>
          <li><h3><a href="https://instagram.com/solsea"><i class="fa fa-instagram"></i></a></h3></li>

          <li><h3><a href="https://twitter.com/solsea"><i class="fa fa-twitter"></i></a></h3></li>

          <li><h3><a href="https://facebook.com/solsea"><i class="fa fa-facebook"></i></a></h3></li>

        </ul>
      </div>
    </span>
  </div>
</nav>
