a, u {
    text-decoration: none !important;
}
p{
  font-family: 'Questrial', sans-serif;
}
.title{
    font-family: 'Megrim', cursive;
}
.loc{
  font-family: 'Questrial', sans-serif;
}
.profile {
  margin-right: 100px;
  margin-left: 100px;
}
.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 50px;
  border-style: solid;
  border-width: 3px;
}
.avatar-xs {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
}
.solsea-banner{
font-family: 'Dancing Script', cursive;
font-size: 30px;
}
.solsea-title{
font-family: 'Dancing Script', cursive;
font-size:40px;
}
.solsea{
font-family: 'Dancing Script', cursive;
font-size:20px;

}
.logo{
font-family: 'Dancing Script', cursive;
font-size:50px;
}
.nav-link{
padding-top:25px;
}
.navtem{
font-family: 'Questrial', sans-serif;
font-weight: bold;
font-size: 20px;
}

.banner {
  color:white;
  text-align: center;
  height:calc(60vh - 80px);;
  width: 100%;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Megrim', cursive;

}
.banner p {
  font-size: 40px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
.social-media ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.social-media li {
  float: left;
}

.social-media li a {
  padding-left: 15px;
  padding-top: 15px;
}
.card-text{
  height: 100px;
}
.blog{
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer{
  background-color: black;
}
.footer img{
  padding-top: 8px;
  padding-bottom: 8px;
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.Site-content {
  flex: 1;
}
#socialnet ul{
  list-style: none;
}
#socialnet li{
  display: inline;
}
.size-me{
font-size:35px;
padding-left:10px;
}
.menu2 h3{
font-family: 'Megrim', cursive;
font-size:40px;
}
.contact{
margin-top: 10%;
margin-bottom: 20%;
}
