.banner {
  color:white;
  text-align: center;
  height:calc(70vh - 80px);;
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
.social-media ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.social-media li {
  float: left;
}

.social-media li a {
  padding-left: 15px;
  padding-top: 15px;
}
.card-text{
  height: 100px;
  overflow-x: hidden;
}
.blog{
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer{
  background-color: black;
}
.footer img{
  padding-top: 8px;
  padding-bottom: 8px;
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

