
<div>
 <div class="banner" style="background-image: url('<%= image_path('img2.png')%> ');  background-position: center;">
  <div class="banner-content">
    <h1><%= @article.title%></h1>
    <p><i class="fa fa-map-pin"></i> By: Solsea</p>
    <h6><%= @article.location %></h6>
  </div>
</div>
</div>
<div class="content">
  <hr>
  <div class="container text-center">
    <p><%= @article.description%></p>
  </div>
  <hr>
</div>
