<div class="bio text-center">
  <div class="container">
    <%= image_tag'celena.png', class: "avatar"%>
    <h1 class="solsea-title">SolSea</h1>
    <div class="profile">
      <hr>
      <br>
      <p>¡Hola! Soy Celena Cerrud, una panameñita enamorada de su país y de las aventuras donde las encuentre. Tengo 24 años caminando por esta tierra y aunque suene a discurso trillado, realmente trabajo todos los días por hacer de este planeta, uno mejor.</p>

      <p>Me gusta el mango, la fotografía, documentar y compartir. También me gusta decir mucho “gracias”.</p>

      <p>Sin más, gracias por estar aquí leyendo esta bio.</p>
    </p>
  <p>dshdjaSsjsjax</p>
    <hr>
  </div>
</div>
</div>
