<div class="bio text-center">
  <div class="container">
    <%= image_tag'celena.png', class: "avatar"%>
    <h1 class="solsea-title">SolSea</h1>
    <div class="profile">
    <hr>
    <br>
    <p>Lorem ipsum dolor sit amet, ne dicunt perfecto adipisci ius. Sea recusabo persecuti no. An pro dignissim maiestatis adolescens, eius dictas pertinax sed ei. Deleniti accusata persecuti eam in, ei eos aliquid dignissim. Te his mutat sadipscing philosophia, cu eum nulla utinam, animal feugait eum in. Et elit dicam cum, munere deleniti ad pri, id duo probo commodo scriptorem.</p>
    <p>
      Vel mundi admodum docendi ei, nec debitis percipit ne. Option delectus ut per, pro bonorum elaboraret id, hinc signiferumque et mea. Te pri diam latine consequuntur, ei populo laoreet salutandi eos, sit ei partem cotidieque. At quo appetere abhorreant. Et nusquam evertitur pri. An gubergren intellegebat vis.
    </p>
    <p>
      Ne aliquip fastidii conclusionemque vis. Erant dicunt eos id, ad omnium inciderint mei. Eam ut atqui prompta splendide, utamur ceteros rationibus ei nam. Pri nulla viris fuisset ne, tollit graeco electram mei eu, vix ludus commune dissentias ei.
    </p>
    Ex pro nulla exerci. Sea petentium maiestatis cu. Nec facilis commune argumentum an, id cum illud impedit, est possim numquam qualisque at. Ex mei iudicabit splendide, id qui dolorum periculis voluptatum.
    <p>
      Tantas aliquid usu no. Est habemus consulatu referrentur id, per populo propriae qualisque te. Petentium repudiandae duo ne. Eius dolor equidem quo no, eos minim disputationi ad, eirmod delectus persecuti mea ne.
    </p>

    <hr>
  </div>
  </div>
</div>
