<div class="container">

  <div class="contact">
    <hr>
    <h1 class="solsea-title ">SolSea </h1>
    <br>
    <h3>Contact</h3>
    <br>
    <h4><i class="fa fa-envelope"></i> Email: solsea@gmail.com</h4>
    <h4><i class="fa fa-phone"> </i> Phone: +507 6107-0420</h4>
    <h4><i class="fa fa-globe"> </i> Location: Panamá</h4>
    <hr>
  </div>
</div>
