<div class="container">
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="contact text-center">
        <h1 class="solsea-title" style="font-size: 100px;">SolSea </h1>
      </div>
    </div>
    <div class="col-md-6">
      <div class="contact">
        <h3>Contact</h3>
        <br>
        <h4><i class="fa fa-envelope"></i> Email: solsea@gmail.com</h4>
        <h4><i class="fa fa-phone"> </i> Phone: +507 6107-0420</h4>
        <h4><i class="fa fa-globe"> </i> Location: Panamá</h4>
      </div>
    </div>
  </div>
</div>
